<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Help Page">
    <meta name="author" content="Todd Lizambri">

    <title>Streamer</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
 <div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <h:panelGroup>
	    <a class="navbar-brand" href="/">Streamer</a>
	  </h:panelGroup>
	</div>

	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <li id="homeNavItem"><a href="/">Home</a></li>
	    <li id="controlNavItem"><a href="/controlpanel">Control</a></li>
	    <li id="HelpNavItem"><a href="/help">Help</a></li>
	  </ul>
	</div>
      </div>
     </nav>
 </div>

 <div id="body" class="container main">

   <br/><br/><br/>
   <h1>Control Panel</h1>   
   <form class="form" action="/control" method="get" role="form">
     <input type="hidden" name="command" value="up"/>
     <button type="submit" class="btn btn-primary">UP</button>
   </form>
   <form class="form" action="/control" method="get" role="form">
     <input type="hidden" name="command" value="down"/>
     <button type="submit" class="btn btn-primary">DOWN</button>
   </form>
   <form class="form" action="/control" method="get" role="form">
     <input type="hidden" name="command" value="left"/>
     <button type="submit" class="btn btn-primary">LEFT</button>
   </form>
   <form class="form" action="/control" method="get" role="form">
     <input type="hidden" name="command" value="right"/>
     <button type="submit" class="btn btn-primary">RIGHT</button>
   </form>
   <form class="form" action="/control" method="get" role="form">
     <input type="hidden" name="command" value="light1"/>
     <button type="submit" class="btn btn-primary">FIRE</button>
   </form>

	          
</div>

        <!-- Bootstrap core JavaScript
	     ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
  <script src="static/js/jquery-3.2.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>

