<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Index Page">
    <meta name="author" content="Todd Lizambri">

    <title>TrafficLight</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
 <div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <h:panelGroup>
	    <a class="navbar-brand" href="/">Streamer</a>
	  </h:panelGroup>
	</div>

	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <li id="homeNavItem"><a href="/">Home</a></li>
	    <li id="controlNavItem"><a href="/controlpanel">Control</a></li>
	    <li id="HelpNavItem"><a href="/help">Help</a></li>
	  </ul>
	</div>
      </div>
     </nav>
 </div>
 <div id="body" class="container main">

     <br/><br/><br/>
    <h1>Integrate. Communicate. Have Fun.</h1>
    <p>Welcome to the iHire Streamer home page. This project is designed to inspire all of us proudmen and proudwomen to find fun ways to increase communications and transparency within iHire by displaying information on wallscreens that we find important or just fun. </p>
    <p>
      <a href="/controlpanel" class="btn btn-success">Get Started</a>
    </p>
 </div>


        <!-- Bootstrap core JavaScript
	     ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
  <script src="static/js/jquery-3.2.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
